<% content_for :title do %>
<%= formatted_title "Students" %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8 mt-8">

  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= form_with(url: students_path, method: "GET", data: { controller: "form-submission", turbo_frame: "students" }) do |form| %>
        <%= form.text_field :query, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 px-4 rounded-full", placeholder: "Search...", data: {action: "input->form-submission#search"} %>
      <% end %>
    </div>
    <div class="sm:flex-auto">

    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to 'New Student', new_student_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>
  <% if @students.empty? %>
  <p class="text-md py-4">No students found.</p>
  <% else %>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <%= render "students", students: @students %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
